@{
    ViewBag.Title = "Web Api Demo";
}

<h2>@ViewBag.Title</h2>

<p>@Html.ActionLink("Facebook Photos With Original OAuth Request", "Index", "Facebook")</p>
<p>@Html.ActionLink("Facebook Photos With DotNetOpenAuth", "Index", "FacebookOpenAuth")</p>
<p>@Html.ActionLink("Facebook Photos With SDK", "Index", "FacebookSdk")</p>
<hr />
<p>@Html.ActionLink("Google Calendar With DotNetOpenAuth", "Index", "GoogleOpenAuth")</p>
<p>@Html.ActionLink("Google Calendar With SDK", "IndexAsync", "GoogleSdk")</p>